.git
.github
.gitignore
.dockerignore
.env
.env.*
Dockerfile
README.md
CONTRIBUTING.md
HISTORY
LICENSE
ansible
doc
tests
node_modules
web/vendor
web/public/dist/**/*
!web/public/dist/**/.keep
/config/settings.php
*.log
.idea
.vscode
