{% extends 'layout.html' %}

{% block content %}
{% if not davyro_embedded %}{% include 'parts/navbar.html' %}{% endif %}
  <div class="container-fluid">
  <div class="wrapper">

    <div id="sidebar"{% if davyro_embedded %} class="davyro-embedded-sidebar"{% endif %}>
      {% include 'parts/sidebar.html' %}
    </div>

    <div id="content">
      <div id="calendar_view"></div>
    </div>

  </div>
  </div>
{% endblock %}

{% block bottom %}
  {% set load_fullcalendar_locale = true %}
  {% include 'parts/agendavjs.html' %}
  {% include 'parts/bottom.html' %}
{% endblock %}
